* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PTSans";
}

@font-face {
  font-family: "PTSans";
  src: local("PTSans-Regular"),
    url(./fonts/PTSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito-VariableFont_wght"),
    url(./fonts/Nunito-VariableFont_wght.ttf) format("truetype");
}

.Card-Text {
  text-align: center !important;
}

/*Custom Navbar*/
.navbar-custom {
  background-color: #6f8f72;
}

/* Change Navbar text color */
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: #fff;
  font-family: "Nunito";
  font-weight: 600;
}

.navbar-custom .nav-item.active .nav-link {
  color: #ffcfd2 !important;
}

/* Custom button */
.customButton {
  background-color: #6f8f72 !important;
  color: #fff !important;
  border: none !important;
}

.customButton:hover {
  background-color: #de9e36 !important;
  color: #fff !important;
}

.customButton:disabled {
  background-color: #5a5a5a !important;
  color: #fff !important;
  cursor: not-allowed !important;
}

/* Custom link style */
.customLink {
  margin: 10px auto;
  background-color: #6f8f72 !important;
  color: #fff !important;
  text-decoration: none !important;
  padding: 10px 15px;
  border-radius: 5px;
}

.customLink:hover {
  background-color: #de9e36 !important;
  color: #fff !important;
}

.customLink:disabled {
  background-color: #5a5a5a !important;
  color: #fff !important;
  cursor: not-allowed !important;
}

/* Registration Page */
.email-taken {
  font-size: 14px;
  color: #333;
  font-style: italic; /* Italicize the text */
}

.email-available {
  font-size: 14px;
  color: #333;
  font-style: italic; /* Italicize the text */
}

/* Profile Page CSS */

.profileDetailsH2 {
  font-family: "Nunito" !important;
  font-weight: 800 !important;
}

.profileH1 {
  font-family: "Nunito" !important;
  font-weight: 800 !important;
  color: #fff;
}
/* CSS for the profile image */
.profile-image-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.default-profile-image {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  font-size: 24px;
}

/* Custom card header */

.custom-card-header {
  background-color: #6f8f72 !important;
  color: #fff !important;
  font-family: "Nunito" !important;
  font-weight: 700;
}

.customCardTitle {
  font-family: "Nunito" !important;
  font-weight: 700 !important;
}
/* Customized order display */
.custom-quantity-input {
  width: 55px;
}

/* Order Status */

/* Pending */
.status-pending {
  font-weight: bold;
  color: #f6ae2d;
}

/* Packing */
.status-packing {
  font-weight: bold;
  color: #f26419;
}

/* In Transit */
.status-in-transit {
  font-weight: bold;
  color: #736f4e;
}

/* Delivered */
.status-delivered {
  font-weight: bold;
  color: #3b3923;
}

/* Custom Footer Styles */
.footer {
  background-color: #6f8f72;
  color: #fff;
  text-align: center;
  margin: 0px;
  padding: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer h4 {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0;
  font-weight: 700 !important;
  display: inline;
}

.footer p {
  font-family: "PTSans", sans-serif;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0;
  font-size: 14px;
  display: inline;
}

.empty-cart-link {
  color: #6f8f72 !important;
}

/* Product image styling */
.productCardImage {
  max-width: 250px;
  max-height: 250px;
}

/* Apply styles to the product card container */
.productCard {
  /* Add rounded margins and any other styles you want for the product card */
  border: 1px solid #6f8f72 !important;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05); /* Add a hover effect */
}

.productThumbnail {
  max-width: 100px;
  margin: 0;
  padding: 5px;
  border-radius: 50%;
}

.productViewImage {
  max-width: 100%;
  height: auto;
  margin: 5px;
  padding: 5px;
}

.orderHistory {
  max-height: 600px !important;
  overflow: auto;
}

/* Store Logo */

.container .storeLogo {
  max-width: 80%;
  display: block;
}

/* Home Page Styling */
.bannerH1 {
  font-family: "Nunito" !important;
  font-weight: 800 !important;
  color: #6f8f72;
}

.homeH2 {
  font-family: "Nunito" !important;
  font-size: 1em;
  font-weight: 800 !important;
  color: #3f1f1d;
}

/* Featured Products */
.featuredProductsH2 {
  font-family: "PTSans" !important;
  font-weight: 500 !important;
  font-style: italic;
  color: #de9e36;
}

/*
a {
  color: #3f1f1d !important;
}
*/

/* Highlight Cards */
.storeHighlight {
  text-align: justify;
  border: none !important;
}
